default_language_version:
    python: python3.10
repos:
    -   repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
        - id: black
          language_version: python3
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v2.5.0
        hooks:
        -   id: check-yaml
        -   id: check-json
        -   id: debug-statements
        -   id: requirements-txt-fixer
    - repo: local
      hooks:
          - id: unittests
            name: unittests
            entry: bash -c "python -m pytest tests/"
            language: system
            types: [ python ]
            pass_filenames: false

    -   repo: local
        hooks:
        -   id: reformat
            name: reformat
            entry: make reformat
            language: system
            types: [python]